.App-logo {
  height: 30px;
  pointer-events: none;
}

.App-header {
  background-color: #21222A;
  min-height: 100px;  
  padding-left: 26px;
  padding-top: 31px;
}

.App h1 {
  color: #61dafb;
  display: inline;
  font-size: 20px;
}

.App h2 {
  color: #DEEBF8;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}
